@charset "UTF-8" ;

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.header-title {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}
.header-title h1 {
    margin-bottom: 15px;

}
nav {
    background-color: rgb(39, 156, 117);
    padding: 15px;

}
nav > a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.container {
    display: flex;

}

.main-content {
    padding: 20px;
    background-color: #dfe8f0;
    flex-grow: 3;
}

.sidebar {
    padding: 20px;
    background-color: aliceblue;
    flex-grow: 1;

}

.card {
    background-color: rgb(144, 161, 252);
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(32, 32, 30);
}

footer {
    background-color: rgb(37, 12, 83);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom:0;
    width: 80vw;

}